{% extends "base.html" %}

{% block title %}Password Changed Successfully - TaTu{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card shadow text-center">
                <div class="card-body p-5">
                    <i class="fas fa-check-circle fa-5x text-success mb-4"></i>
                    <h3>Password Changed Successfully!</h3>
                    <p class="lead">Your password has been updated.</p>
                    <a href="{% url 'account_login' %}" class="btn btn-tatu btn-lg mt-3">
                        Login with New Password
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}